<div class="news-container row">
    <div class="left-panel col-lg-8">
        <div class="cityh3">
            <div class="c-text">News</div>
            <div>No of visits to this page: {{cityCtrl.counter}}</div>
        </div>
        <div class="row first-row">
            <div class="col-lg-6 col-md-6"><img src="http://www.thehindu.com/multimedia/dynamic/02873/corp_2873321e.jpg" width="318" height="247" alt=""
                    title="" class="bordered-image left-align"></div>
            <div class="col-lg-6 col-md-6">

                <h1>
                    <a href="http://www.thehindu.com/news/cities/chennai/chennai-corporation-sets-out-to-find-missing-employees/article8662780.ece" title="Updated: May 29, 2016 at 08:05 IST 
                    Published: May 29, 2016 at 08:05 IST 
                    in CHENNAI" alt="Updated: May 29, 2016 at 08:05 IST 
                    Published: May 29, 2016 at 08:05 IST 
                    in CHENNAI">
                    Chennai Corporation sets out to find 'missing' employees </a> 
                </h1>
                <div class="article-additional-info">
                    Hundreds of the civic body's class IV workers have not reported for duty for many months, mainly due to debt and bad health.
                    <a href="http://www.thehindu.com/news/cities/chennai/chennai-corporation-sets-out-to-find-missing-employees/article8662780.ece"
                        class="more"><span class="arrows">»</span></a>
                    <a href="http://www.thehindu.com/news/cities/chennai/chennai-corporation-sets-out-to-find-missing-employees/article8662780.ece#comments"><span class="count8662780 countcomment c_p1"><span class="commentsCount"></span>1&nbsp;comment</span>
                    </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sub-headlines">
                    <div class="left">
        
                        <div class="sub-headline">
                            <h2>
<a href="http://www.thehindu.com/news/cities/chennai/cbse-class-x-exam-tamil-nadu-ranks-third-in-the-region/article8662777.ece" title="Updated: May 29, 2016 at 08:07 IST 
Published: May 29, 2016 at 08:07 IST 
in CHENNAI" alt="Updated: May 29, 2016 at 08:07 IST 
Published: May 29, 2016 at 08:07 IST 
in CHENNAI">
CBSE Class X exam: Tamil Nadu ranks third in the region
</a> </h2>
                            <div class="article-additional-info">
                                With a qualifying percentage of 99.78 per cent, Tamil Nadu ranked third in the Chennai region in the Class 10 Central Board
                                of Secondary Education (CBSE) results which were declared on Saturday. With...
                                <a href="http://www.thehindu.com/news/cities/chennai/cbse-class-x-exam-tamil-nadu-ranks-third-in-the-region/article8662777.ece"
                                    class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/chennai/cbse-class-x-exam-tamil-nadu-ranks-third-in-the-region/article8662777.ece#comments"><span class="count8662777 countcomment c_p1"></span></a>
                            </div>
                        </div>
                        <div class="line"></div>
               
                        <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/chennai/education-improves-early-detection-of-cancer-v-shanta/article8661870.ece?ref=tpnews">
                            <img src="http://www.thehindu.com/multimedia/dynamic/02873/TH29_City-Cance_TH_2873127b.jpg" width="70"
                                    height="47" alt="" title="" class="bordered-image left-align"> </a>
                            <h2>
<a href="http://www.thehindu.com/news/cities/chennai/education-improves-early-detection-of-cancer-v-shanta/article8661870.ece?ref=tpnews" title="Updated: May 29, 2016 at 05:31 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI" alt="Updated: May 29, 2016 at 05:31 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI">
Education improves early detection of cancer: V. Shanta
</a> </h2>
                            <div class="article-additional-info">
                                Need to improve medical education to incorporate changes in disease patterns stressed
                                <a href="http://www.thehindu.com/news/cities/chennai/education-improves-early-detection-of-cancer-v-shanta/article8661870.ece?ref=tpnews"
                                    class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/chennai/education-improves-early-detection-of-cancer-v-shanta/article8661870.ece?ref=tpnews#comments"><span class="count8661870 countcomment c_p1"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="right">
        
                        <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/chennai/bonded-labourers-rescued-from-brick-kiln-at-pudhukuppam/article8661880.ece?ref=tpnews">
                            <img src="http://www.thehindu.com/multimedia/dynamic/02873/TH29_City-Chind_TH_2873129b.jpg" width="70"
                                    height="59" alt="" title="" class="bordered-image left-align"> </a>
                            <h3>
<a href="http://www.thehindu.com/news/cities/chennai/bonded-labourers-rescued-from-brick-kiln-at-pudhukuppam/article8661880.ece?ref=tpnews" title="Updated: May 29, 2016 at 05:31 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI" alt="Updated: May 29, 2016 at 05:31 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI">
Bonded labourers rescued from brick kiln at Pudhukuppam
</a> </h3>
                            <div class="article-additional-info">
                                89 children among the 329 workers rescued by a team led by the RDO
                                <a href="http://www.thehindu.com/news/cities/chennai/bonded-labourers-rescued-from-brick-kiln-at-pudhukuppam/article8661880.ece?ref=tpnews"
                                    class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/chennai/bonded-labourers-rescued-from-brick-kiln-at-pudhukuppam/article8661880.ece?ref=tpnews#comments"><span class="count8661880 countcomment c_p1"></span></a>
                            </div>
                        </div>
                        <div class="line"></div>
                        
                        <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/chennai/a-fun-way-to-learn-engineering-concepts/article8661876.ece?ref=tpnews">
                            <img src="http://www.thehindu.com/multimedia/dynamic/02873/28maythtma_bigb_29_2873286b.jpg" width="70"
                                    height="49" alt="Exciting education:Students got a first-hand experience of the basics of engineering at a two-day science camp at Tambaram.Photo: G. Krishnaswamy"
                                    title="Exciting education:Students got a first-hand experience of the basics of engineering at a two-day science camp at Tambaram.Photo: G. Krishnaswamy"
                                    class="bordered-image left-align"> </a>
                            <h3>
<a href="http://www.thehindu.com/news/cities/chennai/a-fun-way-to-learn-engineering-concepts/article8661876.ece?ref=tpnews" title="Updated: May 29, 2016 at 05:42 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI" alt="Updated: May 29, 2016 at 05:42 IST 
Published: May 29, 2016 at 00:00 IST 
in CHENNAI">
A fun way to learn engineering concepts
</a> </h3>
                            <div class="article-additional-info">
                                Two-day science workshop conducted by LMES Academy and Sri Sai Ram Engineering College
                                <a href="http://www.thehindu.com/news/cities/chennai/a-fun-way-to-learn-engineering-concepts/article8661876.ece?ref=tpnews"
                                    class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/chennai/a-fun-way-to-learn-engineering-concepts/article8661876.ece?ref=tpnews#comments"><span class="count8661876 countcomment c_p1"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>


    </div>
    <div class="right-panel col-lg-4">


    </div>
</div>