<div class="news-container row">
    <div class="left-panel col-lg-8">
        <div class="cityh3">
            <div class="c-text">News</div>
        </div>
        <div class="row first-row">
            <div class="col-lg-6 col-md-6"><img src="assets/images/kadhalum-kadanthu-pogum-heroine-madonna-sebastian-photos-52312.jpg" width="318" height="247"
                    alt="" title="" class="bordered-image left-align"></div>
            <div class="col">

                <h1>
                    <a href="assets/images/" title="Updated: May 29, 2016 at 08:05 IST 
                    Published: May 29, 2016 at 08:05 IST 
                    in CHENNAI" alt="Updated: May 29, 2016 at 08:05 IST 
                    Published: May 29, 2016 at 08:05 IST 
                    in CHENNAI">
                    Madonna Sebastian: How can I say no to masala films? </a> 
                </h1>
                <div class="article-additional-info">
                    Madonna, who shot up to fame after the film Premam, has said that though she likes to act in content-driven films, only commercial
                    films give her the opportunities to act with big stars.
                    <a href="http://www.thehindu.com/news/cities/chennai/chennai-corporation-sets-out-to-find-missing-employees/article8662780.ece"
                        class="more"><span class="arrows">»</span></a>
                    <a href="http://www.thehindu.com/news/cities/chennai/chennai-corporation-sets-out-to-find-missing-employees/article8662780.ece#comments"><span class="count8662780 countcomment c_p1"><span class="commentsCount"></span>1&nbsp;comment</span>
                    </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sub-headlines">
                    <div class="left">
                       
                        <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/bangalore/spectre-of-mass-leave-by-police-prompts-home-minister-to-promise-better-salary/article8661841.ece?ref=tpnews">
                            <img src="http://www.thehindu.com/multimedia/dynamic/02873/BUNKINGFILE_2873341b.jpg" width="70"
                                    height="52" alt="In some districts, a large number of policemen have applied for leave on June 4. File Photo"
                                    title="In some districts, a large number of policemen have applied for leave on June 4. File Photo"
                                    class="bordered-image left-align"> </a>
                            <h2>
<a href="http://www.thehindu.com/news/cities/bangalore/spectre-of-mass-leave-by-police-prompts-home-minister-to-promise-better-salary/article8661841.ece?ref=tpnews" title="Updated: May 29, 2016 at 08:28 IST 
Published: May 29, 2016 at 00:00 IST 
in BENGALURU" alt="Updated: May 29, 2016 at 08:28 IST 
Published: May 29, 2016 at 00:00 IST 
in BENGALURU">
Spectre of ‘mass leave’ by police prompts Home Minister to promise better salary
</a> </h2>
                            <div class="article-additional-info">
                                Men in khaki to go on strike on June 4 demanding better working conditions
                                <a href="http://www.thehindu.com/news/cities/bangalore/spectre-of-mass-leave-by-police-prompts-home-minister-to-promise-better-salary/article8661841.ece?ref=tpnews"
                                    class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/bangalore/spectre-of-mass-leave-by-police-prompts-home-minister-to-promise-better-salary/article8661841.ece?ref=tpnews#comments"><span class="count8661841 countcomment c_p1"></span></a>
                            </div>
                        </div>
                        <div class="line"></div>
                        <script type="text/javascript">
                            function AddJumpList() {
try {
if (window.external.msIsSiteMode()) {
window.external.msSiteModeCreateJumplist('Bengaluru');
window.external.msSiteModeAddJumpListItem("1,000 personnel, 120 CCTV cameras for IPL T20 final ", "http://www.thehindu.com/news/cities/bangalore/1000-personnel-120-cctv-cameras-for-final/article8660935.ece", "http://www.thehindu.com/favicon.ico");
window.external.msSiteModeShowJumplist();
}
}
catch (error)
{
}
}
AddJumpList();

                        </script>
                        <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/bangalore/1000-personnel-120-cctv-cameras-for-final/article8660935.ece"> <img src="http://www.thehindu.com/multimedia/dynamic/02872/29Bg_IPL_eps_2872735b.jpg" width="70"
                                    height="78" alt="" title="" class="bordered-image -align"> </a>
                            <h2>
<a href="http://www.thehindu.com/news/cities/bangalore/1000-personnel-120-cctv-cameras-for-final/article8660935.ece" title="Updated: May 29, 2016 at 08:32 IST 
Published: May 29, 2016 at 08:32 IST 
in BENGALURU" alt="Updated: May 29, 2016 at 08:32 IST 
Published: May 29, 2016 at 08:32 IST 
in BENGALURU">
1,000 personnel, 120 CCTV cameras for IPL T20 final </a> </h2>
                            <div class="article-additional-info">
                                As part of the security arrangements in and around Chinnaswamy stadium
                                <a href="http://www.thehindu.com/news/cities/bangalore/1000-personnel-120-cctv-cameras-for-final/article8660935.ece" class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/bangalore/1000-personnel-120-cctv-cameras-for-final/article8660935.ece#comments"><span class="count8660935 countcomment c_p1"></span></a>
                                <h3 class="headline-links">
</h3>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                                              <div class="sub-headline">
                            <a href="http://www.thehindu.com/news/cities/bangalore/fans-can-make-the-difference-kohli/article8660932.ece"> <img src="http://www.thehindu.com/multimedia/dynamic/02872/29BG_IPL_PACKAGE_P_2872733b.jpg" width="70"
                                    height="44" alt="" title="" class="bordered-image -align"> </a>
                            <h3>
<a href="http://www.thehindu.com/news/cities/bangalore/fans-can-make-the-difference-kohli/article8660932.ece" title="Updated: May 29, 2016 at 13:34 IST 
Published: May 29, 2016 at 08:36 IST 
in BENGALURU" alt="Updated: May 29, 2016 at 13:34 IST 
Published: May 29, 2016 at 08:36 IST 
in BENGALURU">
Fans can make the difference: Kohli
</a> </h3>
                            <div class="article-additional-info">
                                Royal Challengers Bangalore (RCB) captain Virat Kohli has called on Bengalureans to carry his team to its maiden IPL trophy.
                                A full house is expected when RCB take on Sunrisers Hyderabad in the final...
                                <a href="http://www.thehindu.com/news/cities/bangalore/fans-can-make-the-difference-kohli/article8660932.ece" class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/bangalore/fans-can-make-the-difference-kohli/article8660932.ece#comments"><span class="count8660932 countcomment c_p1"></span></a>
                                <h3 class="headline-links">
</h3>
                            </div>
                        </div>
                        <div class="line"></div>
                      
                        <div class="sub-headline">
                            <h3>
<a href="http://www.thehindu.com/news/cities/bangalore/bengaluru-drag-fest-2016-starts-with-a-bang/article8660775.ece" title="Updated: May 29, 2016 at 13:32 IST 
Published: May 28, 2016 at 20:38 IST 
in BENGALURU" alt="Updated: May 29, 2016 at 13:32 IST 
Published: May 28, 2016 at 20:38 IST 
in BENGALURU">
Bengaluru Drag Fest 2016 starts with a bang
</a> </h3>
                            <div class="article-additional-info">
                                Bengaluru Drag Fest 2016 that kick-started with a bang at the Taneja Aerospace and Aviation Limited stretch in Hosur from
                                Saturday morning witnessed large participation of drag racers from across t...
                                <a href="http://www.thehindu.com/news/cities/bangalore/bengaluru-drag-fest-2016-starts-with-a-bang/article8660775.ece" class="more"><span class="arrows">»</span></a>
                                <a href="http://www.thehindu.com/news/cities/bangalore/bengaluru-drag-fest-2016-starts-with-a-bang/article8660775.ece#comments"><span class="count8660775 countcomment c_p1"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="right-panel col-lg-4">


    </div>
</div>